*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #213435;
}

h1{                    
    color: #E1E3AC;
}

h1, h2, span{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

p{
    color: #C2D69F;
    font-family: "Nunito", sans-serif;
}